@import '~bootstrap/scss/bootstrap';
* {
  box-sizing: border-box;
}
body{
  background-color: #fbc326;
}
#header {
  background-color: #fce41a;
  height: 150px;
  width: 100%;
}

h1{
  padding-top: 20px;
  text-align: center;
  color: #1d7d9e;
}
.game-header{
  padding-top: 20px;
  text-align: center;
  color: #1d7d9e;
  float: left;
}
span {
  color: #d4320e;
}
#x {
  color: black;
}
.row {
  display: flex;
}
.column {
  background-color: white;
  float: left;
  width: 45%;
  height: 400px;
  border: 10px solid #fbc326;
  border-radius: 5%;
  opacity: 80%;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

input {
  margin: 10px 30px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #B2DFEE;
	background:linear-gradient(to bottom, #B2DFEE 10%, #0099CC 100%);
	background-color:#0099CC;
	border-radius:6px;
	border:1px solid #0099CC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0099CC;
  width: auto;
  align-self: center;
}
button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
button:active {
	position:relative;
	top:1px;
}

h3 {
  text-align: center;
  margin-top: 10px;
  color:#0276FD;
}

placeholder {
  color: #fbc326;
}
.box {
  align-items: center;
   background-color: #d4320e;
   border: 5px solid #dc7c15;
   display: flex;
   height: 200px;
   justify-content: center;
   border-radius: 10%;
   font-weight: bolder;
   color: white;
   font-size: 48px;
   text-align: center;
   font-family: 'Fredoka One', cursive;
 }
.container{
  margin: 100px auto;
}
.row {
  width: 60%;
  margin: 50px auto;
}
.letter-x{
  height: 80px;
  background-color: #1d7d9e;
  border: 2px solid white;
  font-family: 'Fredoka One', cursive;
}
.letter-o {
  height:  80px;
  background-color: #fce41a;
  border: 2px solid white;
  font-family: 'Fredoka One', cursive;
}

.col-6 {
  text-align: center;
  font-size: 36px;
  padding: 10px;
}
.wrap {
  text-align: center;
  float: right;
  margin-right: 25px;
  margin-bottom: 20px;
  padding: 10px 0s;

}
.wrap button {
  width: 150px;
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .box {
    align-items: center;
     background-color: #d4320e;
     border: 5px solid #dc7c15;
     display: flex;
     height: 130px;
     justify-content: center;
     border-radius: 10%;
     font-weight: bolder;
     color: white;
     font-size: 24px;
    text-align: center;
   }
  .container{
    margin: 100px auto;
  }
  .row {
    width: 60%;
    margin: 50px auto;
  }
  .letter-o {
    font-size: 30px;
  }
  .letter-x {
    font-size: 30px;
  }
}

@media(max-width: 770px) {
  .row {
    display: flex;
  }
  .column {
    background-color: white;
    float: left;
    width: 100%;
    height: 100px;
    border: 10px solid #fbc326;
    border-radius: 5%;
    opacity: 80%;
    font-size: 20px;

  }
  .box {
    align-items: center;
     background-color: #d4320e;
     border: 5px solid #dc7c15;
     display: flex;
     height: 100px;
     justify-content: center;
     border-radius: 10%;
     font-weight: bolder;
     color: white;
     font-size: 24px;
      text-align: center;
   }
   .letter-o {
     font-size: 28px;
   }
   .letter-x {
     font-size: 28px;
   }
   .row {
     display: flex;
   }
   .column {
     background-color: white;
     float: left;
     width: 100%;
     height: 400px;
     border: 10px solid #fbc326;
     border-radius: 5%;
     opacity: 80%;
   }
   .set-page {
     display: flex;
   flex-direction: column;
   align-items: flex-start;
   }

}
#massege {

}

.success{
  color: #1d7d9e;
  text-align: right;
  padding: 10px;
}

.failure {
  color: #d4320e;
  text-align: right;
}
.hidden {
  display: none;
}
.hidden-game {
  display: none;
}
.hidden-ch-pw {
  display: none;
}
.good-bye {
  text-align: center;
  font-size: 36px;
  margin: 20px auto;
  color: #1d7d9e;
  padding: 10px;
}
#ch-pw {
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  clear: right;
}
#games-create {
  display: block;
  max-width: 300px;
  margin: auto;
}
#games-index {
  display: block;
  max-width: 300px;
  margin: auto;
}
.hidden-newGame {
  display: none;
  margin-top: 20px;
}
#new-game{
  display: block;
  max-width: 300px;
  margin: auto;
}

#totalGame {
display: none;
text-align: center;
color:#d4320e;
width: 100%;
height: 100px;
font-size: 36px;
background: rgba(255, 255, 255, 0.6);
}

.set-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 375px) {
  .row {
    display: flex;
  }
  .column {
    background-color: white;
    float: left;
    width: 100%;
    height: 100px;
    border: 10px solid #fbc326;
    border-radius: 5%;
    opacity: 80%;
    font-size: 20px;

  }
  .box {
    align-items: center;
     background-color: #d4320e;
     border: 5px solid #dc7c15;
     display: flex;
     height: 80px;
     justify-content: center;
     border-radius: 10%;
     font-weight: bolder;
     color: white;
     font-size: 18px;
    text-align: center;
   }
   .letter-o {
     font-size: 18px;
   }
   .letter-x {
     font-size: 18px;
   }
   .row {
     display: flex;
   }
   .column {
     background-color: white;
     float: left;
     width: 100%;
     height: 400px;
     border: 10px solid #fbc326;
     border-radius: 5%;
     opacity: 80%;
   }
   .set-page {
     display: flex;
   flex-direction: column;
   align-items: flex-start;
   }
   .letter-o{
     height: 50px;
   }
   .letter-x {
     height: 50px;
   }
   h1{
     font-size: 36px;
   }
#totalGame {
  font-size: 18px;
}
}
#massege {

}

.success{
  color: #1d7d9e;
  text-align: right;
  padding: 10px;
}

.failure {
  color: #d4320e;
  text-align: right;
}
#hidden {
  display: none;
}
.hidden-game {
  display: none;
}
.hidden-ch-pw {
  display: none;
}
.good-bye {
  text-align: center;
  font-size: 36px;
  margin: 20px auto;
  color: #1d7d9e;
  padding: 10px;
}
#ch-pw {
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  clear: right;
}
#games-create {
  display: block;
  max-width: 300px;
  margin: auto;
}
#games-index {
  display: block;
  max-width: 300px;
  margin: auto;
}
.hidden-newGame {
  display: none;
  margin-top: 20px;
}
#new-game{
  display: block;
  max-width: 300px;
  margin: auto;
}

#totalGame {
display: none;
text-align: center;
color:#d4320e;
width: 100%;
height: 100px;
font-size: 36px;
background: rgba(255, 255, 255, 0.6);
}

.set-page {
  display: flex;
  align-items: center;
  justify-content: center;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d7d9e;
  color: white;
  text-align: left;
  font-size: 24px;
  padding: 10px;
}
#show-history {
  display: none;
}
.hidden-signout {
  display: none;
}
#hid {
  display: none;
}
